<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
        <compilation debug="false" targetFramework="4.0" />
      <customErrors mode="Off"/>
    </system.web>
  <system.webServer>
    <handlers>
      <add verb="*" path="module" type="HttpHandler"
           name="moduleHttpHandler"
           />
      <add verb="*" path="course" type="HttpHandler"
           name="courseHttpHandler"
           />
      <add verb="*" path="student" type="HttpHandler"
           name="studentHttpHandler"
           />
    </handlers>
    
  </system.webServer>
  <connectionStrings>
    <add name="SOFT338_ConnectionString" connectionString="Data Source=fostvm.fost.plymouth.ac.uk;
         Initial Catalog=db_SLongville_SOFT338;Persist Security Info=True;User ID=SOFT338_SLongville;Password=Sarah1!"/>
  </connectionStrings>
  

</configuration>
